.checkboxItems {
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.checkbox {
    transform: scale(2);
    opacity: 0.9;
    cursor: pointer;
    margin: 10px;
}


.startButton {
    width: 100%;
}
